.navbar,
.navbar-brand,
.navbar-toggler,
.collapse,
.navbar-nav,
.nav-item,
.nav-link,
.dropdown-menu,
.dropdown-item  {
    background-color: lightgrey;
    color: white;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
    color: white;
    background-color: lightskyblue;
}
.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-item {
    margin-right: 5px; /* Adjust the spacing between items as desired */
}

.navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
}


/*
footer
*/

footer {
    background-color: lightgrey;
    color: #FFFFFF;
}

footer h3 {
    color: #FFFFFF;
}

footer p {
    color: #FFFFFF;
}

footer .social-icons a i {
    color: white;
}
